In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_data = pd.read_csv('PCC.individual.project.data.csv')

## Train/Test Split

In [4]:
train_data = train_data.loc[train_data['STUDYID'] != 'ASC']

In [5]:
# def get_risk(patient):
#     if patient.death == 1 and patient.time < 365:
#         # Patient is high risk
#         return 1
#     elif patient.death == 0 and patient.time > 730:
#         # Patient is low risk
#         return 0
#     else:
#         # Patient needs to be dropped, insufficient data
#         return 'drop'

In [6]:
def get_risk2(patient):
    if patient.death == 1 and patient.time < 365:
        # Patient is high risk
        return 1
    elif patient.time > 730:
        # Patient is low risk
        return 0
    else:
        # Patient needs to be dropped, insufficient data
        return 'drop'

In [7]:
train_data['high_risk'] = train_data.apply(get_risk2, axis=1)
train_data = train_data.loc[lambda patient: patient.high_risk != 'drop']

In [8]:
train_data = train_data.drop(['time', 'death'], axis=1)

In [9]:
train_data.head()

,STUDYID,RPT,BMI,HEIGHTBL,WEIGHTBL,ALP,ALT,AST,CA,CREAT,...,RaceAsian,RaceBlack,RaceOther,RaceWhite,RegionAsia,RegionEastEuro,RegionNorthAmer,RegionSouthAmer,RegionWestEuro,high_risk
479,CELG,CELG-00004,27.9,169.0,79.6,4.127134,2.197225,2.772589,2.44,4.290459,...,0,0,0,1,0,0,0,0,1,1
482,CELG,CELG-00007,33.2,161.5,85.1,5.700444,5.141664,5.793014,1.80,5.420535,...,0,0,0,1,0,0,1,0,0,1
483,CELG,CELG-00008,25.2,167.9,67.6,4.406719,2.639057,3.044522,2.30,4.663439,...,0,0,0,1,0,0,1,0,0,1
499,CELG,CELG-00024,23.0,182.0,75.7,6.383507,2.639057,3.295837,2.25,4.060443,...,0,0,0,1,0,0,0,0,0,1
503,CELG,CELG-00028,22.5,170.0,65.0,6.877296,3.295837,3.761200,1.98,4.127134,...,0,0,0,1,0,1,0,0,0,1

In [10]:
train_data.shape

(470, 104)

In [11]:
train_data.groupby('AGEGRP2').count()

,STUDYID,RPT,BMI,HEIGHTBL,WEIGHTBL,ALP,ALT,AST,CA,CREAT,...,RaceAsian,RaceBlack,RaceOther,RaceWhite,RegionAsia,RegionEastEuro,RegionNorthAmer,RegionSouthAmer,RegionWestEuro,high_risk
AGEGRP2,,,,,,,,,,,,,,,,,,,,,
0,159,159,159,159,159,159,159,159,159,159,...,159,159,159,159,159,159,159,159,159,159
1,212,212,212,212,212,212,212,212,212,212,...,212,212,212,212,212,212,212,212,212,212
2,99,99,99,99,99,99,99,99,99,99,...,99,99,99,99,99,99,99,99,99,99

In [12]:
train_data.groupby('ECOG_C').count()

,STUDYID,RPT,BMI,HEIGHTBL,WEIGHTBL,ALP,ALT,AST,CA,CREAT,...,RaceAsian,RaceBlack,RaceOther,RaceWhite,RegionAsia,RegionEastEuro,RegionNorthAmer,RegionSouthAmer,RegionWestEuro,high_risk
ECOG_C,,,,,,,,,,,,,,,,,,,,,
0,223,223,223,223,223,223,223,223,223,223,...,223,223,223,223,223,223,223,223,223,223
1,247,247,247,247,247,247,247,247,247,247,...,247,247,247,247,247,247,247,247,247,247

## Defining X and Y

In [13]:
X = train_data.drop(['high_risk', 'STUDYID','RPT'], axis=1).values
y = train_data['high_risk'].values

In [14]:
y = y.astype('int')

In [15]:
# X = np.asarray(X).astype(np.float32)

## Train Test Split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [18]:
# X_train = np.asarray(X_train).astype(np.float32)
# y_train = np.asarray(y_train).astype(np.float32)
# X_test = np.asarray(y_train).astype(np.float32)
# y_test = np.asarray(y_train).astype(np.float32)

## Scaling Data

In [19]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
scaler = MinMaxScaler()

In [21]:
# X_train= scaler.fit_transform(X_train)

In [22]:
# X_test = scaler.transform(X_test)

In [23]:
X_train.shape

(314, 101)

In [24]:
X_test.shape

(156, 101)

In [25]:
X_test

array([[ 29. , 166. ,  80. , ...,   0. ,   0. ,   1. ],
       [ 24.8, 174. ,  75. , ...,   0. ,   0. ,   0. ],
       [ 26. , 160. ,  66.5, ...,   0. ,   1. ,   0. ],
       ...,
       [ 26.8, 178. ,  85. , ...,   0. ,   0. ,   1. ],
       [ 26.3, 171.8,  76.2, ...,   1. ,   0. ,   0. ],
       [ 26.4, 175. ,  82. , ...,   0. ,   0. ,   1. ]])

## Model Setup

In [26]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [27]:
early_stop = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=25)

In [28]:
log_directory = 'logs\fit'

board = TensorBoard(log_dir=log_directory,histogram_freq=1,
    write_graph=True,
    write_images=True,
    update_freq='epoch',
    profile_batch=2,
    embeddings_freq=1)

## Create Model

In [29]:
# model = Sequential()
# model.add(Dense(units=101, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=50, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=1, activation='sigmoid'))
# model.compile(loss='binary_crossentropy', optimizer='adam')

In [30]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.utils.multiclass import type_of_target

In [31]:
# folds = StratifiedKFold(n_splits=3)
# scores_nn = []
# model_loss_nn = []
# confusion_matrix_nn = []
# classification_report_nn = []
# print(type_of_target(y_train))
# for train_index, test_index in folds.split(X_train, y_train):
#     X_train, X_test, y_train, y_test = X_train[train_index], X_train[test_index], y_train[train_index], y_train[test_index];
#     model.fit(X_train, y_train, epochs=600, validation_data=(X_test, y_test), callbacks=[early_stop, board], verbose=0)
#     model_loss = pd.DataFrame(model.history.history)
#     model_loss_nn.append(model_loss)
#     predictions = model.predict_classes(X_test)
#     confusion_matrix_nn.append(confusion_matrix(y_test, predictions))
#     classification_report_nn.append(classification_report(y_test, predictions))

In [32]:
# model.fit(x=X_train, y=y_train, epochs=600, validation_data=(
#     X_test, y_test), verbose=0)

In [33]:
# model_loss = pd.DataFrame(model.history.history)
# model_loss.plot()

In [34]:
# predictions = model.predict_classes(X_test)

In [35]:
# print(confusion_matrix(y_test, predictions))
# print('\n')
# print(classification_report(y_test, predictions))

for tensorboard: use command: tensorboard --logdir logs\fit

Try 2: Add Early Stopping + Tensorboard

In [36]:
# model = Sequential()
# model.add(Dense(units=101, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=50, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=1, activation='sigmoid'))
# model.compile(loss='binary_crossentropy', optimizer='adam')

In [37]:
# model.fit(x=X_train, y=y_train, epochs=600, validation_data=(
#     X_test, y_test), callbacks=[early_stop, board], verbose=0)

In [38]:
# model_loss = pd.DataFrame(model.history.history)
# model_loss.plot()

In [39]:
# predictions = model.predict_classes(X_test)

In [40]:
# print(confusion_matrix(y_test, predictions))
# print('\n')
# print(classification_report(y_test, predictions))

## Trying to decrease complexity

In [41]:
# model = Sequential()
# model.add(Dense(units=50, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=20, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=1, activation='sigmoid'))
# model.compile(loss='binary_crossentropy', optimizer='adam')

In [42]:
# model.fit(x=X_train, y=y_train, epochs=600, validation_data=(X_test, y_test), callbacks=[early_stop, board], verbose=0)

In [43]:
# model_loss = pd.DataFrame(model.history.history)
# model_loss.plot()

In [44]:
# predictions = model.predict_classes(X_test)

In [45]:
# print(classification_report(y_test, predictions))
# print('\n')
# print(confusion_matrix(y_test, predictions))

## Increasing Complexity

In [46]:
# model = Sequential()
# model.add(Dense(units=202, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=101, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=20, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=1, activation='sigmoid'))
# model.compile(loss='binary_crossentropy', optimizer='adam')

In [47]:
# model.fit(x=X_train, y=y_train, epochs=600, validation_data=(
#     X_test, y_test), callbacks=[early_stop, board], verbose=0)

In [48]:
# model_loss = pd.DataFrame(model.history.history)
# model_loss.plot()

In [49]:
# predictions = model.predict_classes(X_test)

In [50]:
# print(classification_report(y_test, predictions))
# print('\n')
# print(confusion_matrix(y_test, predictions))

## Increasing Complexity even more

In [51]:
# model = Sequential()
# model.add(Dense(units=202, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=101, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=50, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=20, activation='relu'))
# model.add(Dropout(0.2))
# model.add(Dense(units=1, activation='sigmoid'))
# model.compile(loss='binary_crossentropy', optimizer='adam')

In [52]:
# model.fit(x=X_train, y=y_train, epochs=600, validation_data=(
#     X_test, y_test), callbacks=[early_stop, board], verbose=0)

In [53]:
# model_loss = pd.DataFrame(model.history.history)
# model_loss.plot()

In [54]:
# predictions = model.predict_classes(X_test)

In [55]:
# print(classification_report(y_test, predictions))
# print('\n')
# print(confusion_matrix(y_test, predictions))

# Cross Validation Attempt

In [56]:
def create_baseline():
    model = Sequential()
    model.add(Dense(units=101, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(units=50, activation='relu'))
    model.add(Dropout(0.2))
    model.add(Dense(units=1, activation='sigmoid'))
    model.compile(loss='binary_crossentropy',
                  optimizer='adam', metrics=["accuracy"])
    return model

In [57]:
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import LabelEncoder

In [58]:
encoder = LabelEncoder()
encoder.fit(y)
encoded_Y = encoder.transform(y)

In [59]:
estimator = KerasClassifier(build_fn=create_baseline, batch_size=5, epochs=100, verbose=0)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(estimator, X, encoded_Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 67.02% (9.19%)

Baseline: 75.52% (3.69%)
NOW: 93.82% (0.15%); 67.02 (9.19)

## Trying with 350 epochs

In [60]:
estimator = KerasClassifier(
    build_fn=create_baseline, batch_size=5, epochs=350, verbose=0)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(estimator, X, encoded_Y, cv=kfold)
print("Baseline: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

Baseline: 69.15% (6.68%)

Baseline: 77.69% (4.97%); NOW: 93.24% (1.67%); 69.15 (6.68)

## Adding Scaler

In [61]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [62]:
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_baseline, epochs=350, batch_size=5, callbacks=[board], verbose=0)))
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(pipeline, X, encoded_Y, cv=kfold)
print("Standardized: %.2f%% (%.2f%%)" %(results.mean()*100, results.std()*100))

Standardized: 72.55% (4.09%)

Standardized: 79.47% (2.81%); NOW: 91.36% (3.01%); 72.55 (4.09)

## Smaller/More simple network

In [63]:
# smaller model
def create_smaller():
	# create model
	model = Sequential()
	model.add(Dense(50, input_dim=101, activation='relu'))
	model.add(Dropout(0.2))
	model.add(Dense(25, input_dim=101, activation='relu'))
	model.add(Dropout(0.2))
	model.add(Dense(1, activation='sigmoid'))
	# Compile model
	model.compile(loss='binary_crossentropy',optimizer='adam', metrics=['accuracy'])
	return model

In [67]:
estimators = []
estimators.append(('standardize', StandardScaler()))
estimators.append(('mlp', KerasClassifier(build_fn=create_smaller,
                  epochs=350, batch_size=5, callbacks=[board], verbose=0)))
pipeline = Pipeline(estimators)
kfold = StratifiedKFold(n_splits=10, shuffle=True)
results = cross_val_score(pipeline, X, encoded_Y, cv=kfold)
print("Standardized: %.2f%% (%.2f%%)" %
      (results.mean()*100, results.std()*100))

Standardized: 72.13% (4.70%)

Standardized: 78.13% (6.32%); NOW: 93.24% (3.26%); 72.13 (4.70)